* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color applied to all page */
body {
    background-color: #d9dcd6;
}

/* Style for header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Style for headers level 1 */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Style for navigation items in header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Style of unordered lists */
ul {
    list-style-type: none;
}

/* Style for listed items */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Style for all hyperlinks in header */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Style for all paragraphs */
p {
    font-size: 16px;
}

/* Main with background image */
main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Left part of the page with nested sections */
article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Style for sections on the left */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Style for images */
img {
    max-height: 200px;
}

/* Style for headers level 2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Right section with navigation for each benefites */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Navigation style in the aside */
aside nav {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Style for headers level 3 */
h3  {
    margin-bottom: 10px;
    text-align: center;
}

/* Image style of the navigation items in the aside */
aside nav img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer for copyright information */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Header only for the footer */
footer h2 {
    font-size: 20px;
}

/* ------Below are the classes for the entire webpage------ */

/* Style for h1 span. Class seo */
.seo {
    color: #d9dcd6;
}

/* Article image class style: To the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Article image class style: To the right */
.float-right {
    float: right;
    margin-left: 25px;
}